include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include _base/mixins

include head/head
include test/test

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Workshop",
				"author": "Space Academy",
				"description": "Workshop"
			})

		+b.BODY.page
			+e.DIV.wrap
				block content


			block vendors
				// build:js js/vendor.js
				script( src="libs/jquery/dist/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
