

/***********************COLORS & FONTS***********************/
$or : "or", sans-serif;


$font-color-dark: #4a4a4a;
$bg-color-light: #f2f2f2;
$main-gradient: linear-gradient(to top, #9b23ea, #5f72bd);
$accent-gradient: linear-gradient(to left, #fe9a8b, #fd868c 41%, #f9748f 73%, #f78ca0);
$main-color: #9B23EA;
